<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.do1.flowersapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application android:name=".context.AppContext"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:theme="@style/Activitytheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--用户收藏列表-->
        <activity android:name=".activity.UserCollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--用户订单-->
        <activity android:name=".activity.OrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--花艺师详情-->
        <activity android:name=".activity.FloristsInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--管理用户收货地址-->
        <activity android:name=".activity.UserAddressManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--店铺-->
        <!--新增用户收货地址-->
        <activity android:name=".activity.AddUserAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--用户注册-->
        <activity android:name=".activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!--用户登录-->
        <!--商品信息-->
        <activity android:name=".activity.GoodsInfoActicity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Activitytheme" />
        <!-- 商家详情页-->
        <activity android:name=".activity.SellerDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                  android:theme="@style/Activitytheme"/>
    </application>

</manifest>
